/* Write your CSS here */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 0px none;
  margin: 5px;
}

.title {
  font-family: 'Roboto';
  font-size: 18px;
  color: #000000;
  width: 70%;
}
@media screen and (min-width: 769px) {
  .title {
    font-size: 26px;
  }
}

.btn {
  color: #ff0b37;
  background-color: #ffffff;
  border: 1px solid #ff0b37;
  font-family: 'Roboto';
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  width: 90px;
  text-align: center;
}

.checkbox-input {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.edit-btn {
  height: 30px;
  width: 60px;
  color: white;
  background-color: blue;
  border: 0px none;
  border-radius: 5px;
}

.save-btn {
  height: 30px;
  width: 60px;
  color: white;
  background-color: green;
  border: 0px none;
  border-radius: 5px;
}

.checkbox-edit {
  text-decoration: line-through;
}

.checkbox-save {
  text-decoration: none;
}
